---
interface Props {
  name?: string;
  id: string;
  value: string;
  checked?: boolean;
  type: astroHTML.JSX.HTMLInputTypeAttribute;
}

const { id, value, name, type, checked } = Astro.props;
---

<style>
  .form-control {
    display: flex;
    align-items: center;
    gap: 2px;
    color: var(--fg-color);
    font-weight: var(--font-weight-6);
    cursor: pointer;
    &:has(input[type='radio']:checked, input[type='checkbox']:checked) {
      --fg-color: var(--accent-color);
    }

    &:has(
        input[type='radio']:focus-visible,
        input[type='checkbox']:focus-visible
      ) {
      outline: var(--outline-size) var(--accent-color) solid;
      outline-offset: var(--outline-offset);
    }
  }
  input[type='radio'],
  input[type='checkbox'] {
    width: 0;
    height: 0;
    &:checked {
      outline: none;
      border: none;
    }
  }
</style>

<li role="menuitem">
  <label class="form-control">
    <input id={id} type={type} name={name} value={value} checked={checked} />
    <slot />
  </label>
</li>
